<%- include('includes/head.ejs') %> <%- include('includes/header.ejs')%>

<div class="form-container">
  <form action="/users/edit" method="POST">
    <input type="hidden" name="userId" value="<%= user.id%>" >
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="<%= user.name %>" />
    </div>
    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input type="text" id="lastname" name="lastname" value="<%= user.lastname %>" />
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" id="age" name="age" value="<%= user.age %>" />
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" id="city" name="city" value="<%= user.city %>" />
    </div>

    <button class="btn" type="submit">Edit User</button>
  </form>
</div>


 <%-
  include('includes/end.ejs') %>
</body>