<%- include('includes/head.ejs') %>
<body>
  <%- include('includes/header.ejs') %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h2>Product Details</h2>
          </div>
          <div class="card-content">
            <h2>id: <%= product.id %></h2>
            <h2>name: <%= product.name %></h2>
            <h2>price: <%= product.price %> $</h2>
            <h2>category: <%= product.category %></h2>
            <h2>user: <%= user.name + ' ' + user.lastname %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('includes/end.ejs') %>
</body>
